<div class="headliner">
  <label class="home" for="site-search">Search Query:</label>
  <input type="search" id="site-search" name="q" />

  <button class="button" id="searchButton">Search</button>

</div>
{{!-- <div class="home">
  <label for="site-searchbud">Search Query:</label>
  <input type="search" id="site-searchbud" name="q" />

  <button id="searchButtonbud">Search</button>

  {{trial2}}
</div> --}}
<script src="/homepage.js"></script>